<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="d-flex flex-column min-vh-100">
  <header class="header-block">
    {{ partial "header.html" . }}
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="footer-block mt-auto">
    {{ partial "footer.html" . }}
  </footer>
  {{ partial "head/js.html" . }}
  {{ partial "google_analytics.html" . }}
</body>
</html>
