{{ define "main" }}
{{ with .Params.BannerId }}
  <div id="{{ . }}" class="container-fluid screen banner banner-height">
{{ else }}
  <div id="zoom-session" class="container-fluid screen banner banner-height">
{{ end }}
      <div class="d-flex justify-content-center align-items-center my-auto banner-height">
          <h1 class="text-center">{{ .Title }}</h1>
      </div>
  </div>
  <article class="container">
    {{ .Content }}
    {{ range .Pages }}
      <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ end }}
  </article>
{{ end }}
