<section>
  <h2 class="mb-4">Latest Blog Posts:</h2>
  <ul class="list-group list-group-flush">

    {{ $types := slice "blog" "other" }}
    {{ range first 10 (where (sort .Site.RegularPages "Date" "desc") "Type" "in" $types) }}
      <li class="list-group-item">
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            {{ with .Params.Description }}
              <p class="mb-0 text-muted">{{ . }}</p>
            {{ else }}
              <p class="mb-0 text-muted">{{ .Summary }}</p>
            {{ end }}
      </li>
    {{ end }}
  </ul>
  <p><a class="btn btn-primary " href="/blog">All Blog Posts</a><br />&nbsp;</p>
</section>
