{{ define "main" }}

  <div id="zoom-session" class="container-fluid screen banner banner-height">
      <div class="d-flex justify-content-center align-items-center my-auto banner-height">
    <h1 class="text-center">{{ .Page.Title }}</h1>
      </div>
  </div>

  <article class="container">
    {{ .Content }}
    <h2>My Software and Scripts</h2>
    {{ partial "software-list.html" . }}
    <h2>My Metatrader 4 Utilities</h2>
    {{ partial "mt4-stuff-list.html" . }}
    {{ partial "latest-blogs-list.html" . }}
  </article>
{{ end }}
