
{{ define "main" }}

<div id="mt4-stuff" class="container-fluid  banner banner-height">
  <div class="d-flex justify-content-center align-items-center my-auto">
      {{ with .Title }}
        <h1 class="text-center">{{ $.Title }}</h1>
      {{ else }}
        <h1 class="text-center">My Metatrader 4 Utilities</h1>
      {{ end }}
  </div>
  <div id="mt4-note" class="container">
      <h2>Please Note:</h2>
      <p>I created these tools for my own personal use and for a trading community I was a member of. As I’m giving these tools away for free I cannot offer support and I’m not customising them for other peoples needs/wants.</p>
      <p>I hope you find these Metatrader 4 tools useful, if not they are free and costed you nothing.</p>
  </div>
</div>

  <article class="container">
    {{ partial "mt4-stuff-list.html" . }}
  </article>
{{ end }}
